#title{

    background-color: #ff4c68;

}
body{
    font-family: monso;
}
.right{
    text-align: right;

}
h1, h2, h3, h4, h5, h6{
    font-family:"montserrat-black";
}
h1{
    padding: 10px;
    font-size:60px;
    
    line-height:1.5;
    color: #fff;
}
h2{
font-family: Arial, Helvetica, sans-serif;
font-size: 3rem;
line-height: 1.5; 


}
h3{
font-family: Arial, Helvetica, sans-serif;

}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.navbar-brand{
padding: 20px;
    font-size: 35px;
}
.navbar{
padding:0 0 4.5rem;

}
.nav-item{
    padding: 0px 18px;
    }
.nav-link{
    font-size: 20px;
    color: #fff;

}
.dow-button{

    margin: 5% 3% 5% 0;
}
.title-img{

    width: 21%;
    transform: rotate(25deg);
   
    position: absolute;
left:60%;
}
#features{

    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.fa-4x{
    color: #ef8172;
    margin-bottom: 20px;
   
}
.fa-4x:hover{
    color: orangered;
}
#testimonials{
    text-align: center;
    background-color:#ef8172;
    color: azure;
}
.testimonial-img{

    border-radius:100%;
    width: 20%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
    

}
#pricing{
    text-align: center;
    padding: 90px; 
}
.button:hover{
    color: aliceblue;
}
.card{
    padding: 3% 2%;
}
@media (max-width:1004px) and  (max-width:992px) {


    #title{
        text-align: center;
    }
    .title-img{
        height: 500px;
        width: 300px;
        position:static;
transform: rotate(0deg);

    }
}
.dv{
    
font-size: 3.5rem;


}
#cta{
    text-align: center;
    padding: 7% 15%;
    font-size:70px;
    font-family:"montserrat-black";
    line-height:1.5;
    color: #fff;
    background-color: #ff4c68;
}
#footer{
 
    text-align: center;
    padding: 5% 10%;
}
.he{
    margin: 5px 10px;
}